<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~\lib\bootstrap\dist\css\bootstrap.min.css" />

    <link rel="stylesheet" href="~/EFCoreFinalApp.styles.css" asp-append-version="true" />
    
    <title>@ViewData["Title"] - EFCoreFinalApp </title>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/l.png" alt="SVG Icon" width="40" height="40" />
    
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    @* <div class="container-fluid" style="display: flex;
                    justify-content: center; align-items: center; height:40px; color: #a00e0ee4;font-weight: bold;">
                        <p class="text-center"><strong>✨✨İş Arama Platformuna Hoş Geldiniz ✨✨</strong></p>
                    </div> *@
                        <ul class="navbar-nav flex-grow-1">

                            
                        
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="Index">Şirketler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Candidates" asp-action="Index">Adaylar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="JobPosting" asp-action="Index">İş İlanları</a>
                            </li>
                              </ul> 

                        <ul class="navbar-nav"> 
                            <li class="nav-item">
                                 @if (User.Identity.IsAuthenticated)
                                    {
                                        var profileImgPath = User.Claims.FirstOrDefault(c => c.Type == "ProfileImg")?.Value; 

                                        //<span class="navbar-text">@User.Identity.Name</span>
                                       
                                        @if (!string.IsNullOrEmpty(profileImgPath))
                                            {
                                                <img src="@profileImgPath" width="40" height="40" class="rounded-circle " alt="Profile Image">
                                            }
                                        <a href="/Candidates/Logout" class="ml-4" >Logout</a>
                                    }
                                else
                                {
                                    <a href="/Candidates/Login" class="nav-link">Login</a>
                                    <p>Kullanıcı girişi yapılmamış.</p>
                                }
                            </li>
                        </ul>
                        
                      
                    </div>

                </div>
            </nav>
        </header>

                    <div class="container">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - EFCoreFinal: Job Portal App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
