@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Job Portal Project</h1>

     <a href="@Url.Action("Create", "Candidates")" class="btn btn-primary">Aday Oluştur</a>
</div>
