@model EFCoreFinalApp.Data.JobPosting

@{
    ViewData["Title"] = "Create Job Posting";
}

<div class="job-details-container">

       <h2>İş İlanı Ekle</h2>
<hr>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" required  />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" required />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" required />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" required />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClosingDate"></label>
        <input asp-for="ClosingDate" class="form-control" type="date" id="closingDate" required />
        <span asp-validation-for="ClosingDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CompaniesId"></label>
        <select asp-for="CompaniesId" class="form-control" asp-items="@ViewBag.Companies" required></select>
        <span asp-validation-for="CompaniesId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-danger float-right">Submit</button>
</form>


</div>


<style>

    .job-details-container {
        
        background-color: #ffffff; 
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px; 
        padding: 30px; 
        margin: 20px;
        width: 100%; 
        max-width: 700px;

        justify-content: center;
        align-items: flex-start;

    }

    h2 {
        margin-bottom: 20px; 
    }

    .form-group {
        margin-bottom: 15px;
    }

    .btn {
        width: 100%; 
    }
</style>

<script>
    var today = new Date().toISOString().split('T')[0];
    var dateInput = document.getElementById("closingDate");
    dateInput.setAttribute('min', today);
    dateInput.setAttribute('value', today);
</script>