@model EFCoreFinalApp.Data.Companies

<h2>Şirket Oluştur</h2>
<hr>

<form asp-controller="Companies" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Şirket Ad</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Açıklama</label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">E-posta</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Telefon No</label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Industry" class="form-label">Industry</label>
        <input asp-for="Industry" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Görsel Yükle</label>
        <input type="file" name="Logo" class="form-control" />
    </div>
    
    
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
