@model IEnumerable<EFCoreFinalApp.Data.JobPosting>

@{
    ViewData["Title"] = "Job Postings for Company";
}

<h1></h1>

<div class="table-container">
<table class="table  table-hover">
    <thead class="table-header">
        <tr>
            <th>İlan Adı</th>
            <th>İlan Açıklaması</th>
            <th>İlan Tarihi</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <td>@job.Title</td>
                <td>@job.Description</td>
                <td>@job.PostedDate.ToShortDateString()</td>
                
            </tr>
        }
    </tbody>
</table>
</div>

<a asp-controller="Companies" asp-action="Index" class="btn btn-success" >Şirket Sayfasına Geri Dön</a>


<style>
     .table-container {
        margin-bottom: 30px; 
    }

    h2 {
        text-align: center; 
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
    }

    hr {
        border: none;
        height: 2px;
        background-color: #ccc;
        margin-bottom: 30px;
    }

    .table {
        width: 100%; 
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
        border-radius: 8px;
        overflow: hidden; 
    }

    .table-hover tbody tr:hover {
        background-color: #f9f9f9; 
    }

    .table-header {
        background-color: #859f53; 
        color: white;
        text-align: left;
    }

    th, td {
        padding: 15px 20px;
        text-align: left;
        vertical-align: middle; 
    }

    .btn-success {
    background-color: #8a9f53;
    border-color: rgb(104, 140, 5); 
    float: right;
   }
   .btn-success:hover {
    background-color: #99bd57;
    border-color: rgb(104, 140, 5); 
   }
</style>